*{
  margin: 0;
  padding: 0;
}

[data-scroll]{
  opacity:0;
  transform: translate3d(-30px,0,0);
  transition: .3s;
  /* o transition aqui em cima é para animar na saída também */
}

[data-scroll].animar{
  opacity: 1;
  transform: translate3d(0,0,0);
}